<style>
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    padding: 50px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  label, input[type="text"], input[type="button"] {
    font-size: 18px;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }
  input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  input[type="button"] {
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
</style>